<!DOCTYPE html>
<html>

<head>
  <% include ../Partials/head %>
    <title></title>
</head>

<body class="container">
  <header>
    <% include ../Partials/header %>
  </header>
<h1>Instergram NPM App</h1>
  <main>
    <div class="row">
      <% grams.forEach(function(grams) { %>
        <div class="instagram-pic col-sm-3">
          <a href="<%= grams.link %>" target="_blank"> 
          <img src="<%= grams.images.standard_resolution.url %>" class="img-responsive" alt="instagram image">   
        </a>
        </div>
        <!--ul>li*6-->


        <div class="instagram-bar">
          <div class="likes">
            <span class="glyphicon-heart"></span>
            LIKES:
            <%= grams.likes.count %>
            
          </div>
        </div>

        <div class="comments">
          <span class="glyphicon-comment"></span>
           COMMENT COUNT: 
          <%= grams.comments.count %>
        </div>
        
         
        <div class="comments">
          <span class="glyphicon-comment"></span>
          CAPTION TEXT: 
          <%if (grams.caption.text != null) { %>
          <%= grams.caption.text %>
          <% } %>
        </div>
        <% }); %>

    </div>
  </main>

  <footer>
    <% include ../Partials/footer %>
  </footer>
</body>

</html>


